body {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.yellow {
    display: block;
    height: 100vh;
    padding-left: 150px;
    padding-right: 150px;
}

.black-div {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 3px solid rgb(94, 94, 137);
}

.btn-del {
    background-color: red;
    color: white;
    border-radius: 6px;
}

ul li {
    padding: 10px;
    border: 1px solid white;
    margin-bottom: 12px;
    border-radius: 6px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.compl-btn {
    margin-left: 20px;
    background-color: blue;
    border-radius: 6px;
    color: white;
    margin-right: 8px;
    font-size: 14px;
    width: 80px;
    height: 28px;
    text-decoration: none;
}

.add-input-div input {
    padding-left: 12px;
    outline: none;
}